@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #27ae60; 
    --card-bg: rgba(255, 255, 255, 0.92);
    --text-color: #1a1a1a;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    
    background-color: #f4f4f9; 
    background-image: url('assets/fondo.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 100%;
    max-width: 500px;
    background: var(--card-bg);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
    backdrop-filter: blur(6px); 
}

.logo-container {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo {
    width: 85%;
    height: auto;
    display: block;
}

/* Cambia esto en tu CSS */
input, select {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 2px solid #eee;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 0.1s, background-color 0.3s;
}

button:hover {
    background-color: #219150;
}

button:active {
    transform: scale(0.98);
}

.result-card {
    margin-top: 25px;
    padding: 20px;
    border-left: 6px solid var(--primary-color);
    background: rgba(249, 255, 251, 0.95);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.result-card strong {
    display: block;
    margin-bottom: 15px;
    font-size: 1.56em; 
    color: #1a5276;
    text-transform: uppercase;
}

.score-item {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.1em;
    font-weight: 700;
}

.score-item:last-child {
    border-bottom: none;
}

.res-verde {
    color: #27ae60;
}

.res-amarillo {
    color: #d4ac0d; 
}

.res-naranja {
    color: #d35400;
}

.res-rojo {
    color: #ed1940;
}

/* Nueva clase para las etiquetas "probable / poco probable" */
.etiqueta-prob {
    font-weight: 400; /* Montserrat Regular */
    font-size: 0.6em; /* 40% más chico que el tamaño del marcador (que es 1.1em) */
    margin-left: 8px; /* Un pequeño margen para separarlo del número de goles */
}